three-scene {
  display: block;
  width: 100%;
  height: 100%;
}

.ui-wrapper {
  pointer-events: none;
  z-index: 10;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
}

$ui1: #4f4b45;
$ui2: #7a8f77;
$ui3: #cfcfb6;
$ui4: #cbbc9c;
$ui5: #8e7c6c;

@mixin ui-component {
  pointer-events: all;
  display: block;
  position: relative;
  border-radius: 3px;

  color: $ui3;
  background: $ui1;
}

.ui-row {
  flex: 1;
  flex-direction: row;
  display: flex;
  width: 100%;
  span {
    margin: 3px;
  }
  textarea {
    flex: 1;
  }
}

.ui-popup {
  @include ui-component;
  border: $ui5;
  border-style: solid;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  right: 15%;
  width: 70%;
  height: 70%;
}
.ui-popup.open {
  visibility: visible;
}

.ui-leftbar {
  @include ui-component;
  display: flex;
  flex-direction: column;
  // width: 20%;
  width: 170px;
  margin: 20px;
  padding: 5px;
  height: auto;
}

.ui-title {
  border-color: $ui5;
  color: $ui4;
  margin: 3px;
  border-radius: 5px;
  border-style: solid;
  flex: 1;
  border-width: 2px;
}

.ui-button {
  border-color: $ui3;
  border-radius: 5px;
  border-style: solid;
  flex: 1;
  border-width: 2px;
  font-size: large;
  text-align: center;
  cursor: pointer;
}
.ui-button:hover {
  border-color: $ui4;
  color: $ui4;
  .tooltip {
    visibility: visible;
  }
}

.ui-button.pressed {
  border-color: $ui5;
  color: $ui5;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 120px;
  font-size: medium;
  background-color: $ui2;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}
