three-scene {
  display: block;
  width: 100%;
  height: 100%;
}

.HUDPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ui-wrapper {
  pointer-events: none;
  z-index: 10;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
}

$ui1: rgba(51, 39, 105, 0.8);
$ui2: #7a8f77;
$ui3: #01cbc6;
$ui4: #69e3de;
$ui5: rgb(85, 85, 138);

@mixin ui-component {
  pointer-events: all;
  display: block;
  position: relative;
}

.ui-row {
  flex: 1;
  flex-direction: row;
  display: flex;
  margin: 0.2em;
  width: auto;
  span {
    margin: 3px;
  }
  textarea {
    flex: 1;
  }
}

.ui-popup {
  @include ui-component;
  border: $ui5;
  border-style: solid;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  right: 15%;
  width: 70%;
  height: 70%;
}
.ui-popup.open {
  visibility: visible;
}

.ui-leftbar {
  @include ui-component;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0px;
  height: 100%;
}

.ui-title {
  background: rgba($ui5, 0.9);
  margin: 0.2em;

  border-radius: 5px;
  border-style: solid;
  flex: 1;
  border-width: 2px;
}

.ui-button {
  border-color: #0c1818;
  background: rgba(#19194d, 0.8);
  border-radius: 1em;
  border-width: 0.15em;
  border-style: solid;
  flex: 1;
  font-size: large;
  text-align: center;
  cursor: pointer;
}

a {
  color: $ui3;
}

.ui-button:hover {
  border-color: $ui4;
  color: $ui4;
  .tooltip {
    visibility: visible;
  }
}

.ui-button.pressed {
  border-color: $ui5;
  color: $ui5;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 120px;
  font-size: medium;
  background-color: $ui2;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}

// ui-test

.ui-test {
  display: flex;
  flex-direction: row;
}

// bulma overrides

.box {
  padding: 0.15rem;
}

.column {
  padding: 0.15rem;
}

.panel-heading {
  padding: 0.15rem;
}
.panel-block {
  padding: 0.15rem;
}

.panel {
  margin-bottom: 0.15rem !important;
}

// fix dat.gui with bulma

li.title {
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}
