[submodule "ShaderParticleEngine"]
	path = ShaderParticleEngine
	url = https://github.com/squarefeet/ShaderParticleEngine
	shallow = true
[submodule "rts-assets"]
	path = rts-assets
	url = ../rts-assets.git
	shallow = true
