<template id="landControls">
  <div id="landControls" , class="ui-leftbar">
    <span class="ui-title">Land</span>
    <span class="ui-row">
      <span class="ui-button" id="raiselower">
        <span class="fas fa-sort-up"></span> /
        <span class="fas fa-sort-down"></span>
        <span class="tooltip">Left click to raise, right click to lower</span>
      </span>
      <span class="ui-button" id="clear">
        clr <span class="tooltip">clear action from mouse click</span>
      </span>
    </span>
    <!--

      <span class="ui-row">
        <span class="ui-button" id="rampRaiseLower">
          R <span class="fas fa-sort-up"></span> /
          <span class="fas fa-sort-down"></span>
          <span class="tooltip">Left click to raise a corner, right click to lower a corner</span>
        </span>
      </span>
    -->

    <span class="ui-title">Water</span>
    <span class="ui-row">
      <span class="ui-button" id="raiseWater">
        <span class="fas fa-sort-up"></span>
      </span>
      <span class="ui-button" id="lowerWater">
        <span class="fas fa-sort-down"></span>
      </span>
    </span>

    <span class="ui-title">Tools</span>
    <span class="ui-row">
      <span class="ui-button" id="toggleLogViewer"> Log </span>
      <span style="flex: 1;"></span>
    </span>
    <span class="ui-title">Replay</span>
    <span class="ui-row">
      <span class="ui-button" id="replay-realtime"> slow </span>
      <span class="ui-button" id="replay-fast"> fast </span>
    </span>
    <span class="ui-row">
      <span class="ui-button" id="replay-reset"> Reset </span>
    </span>
  </div>
</template>